
.entity .background {
    fill: #BBDEFB;
    transition: fill 0.2s;
}
.entity .indicator {
    fill: rgba(0, 0, 0, 0.12);
    pointer-events: none;
}
.entity .text {
    pointer-events: none;
}


.link {
    stroke: #BBDEFB;
    stroke-width: 1;
    fill: none;
    transition: all 0.2s;
}
.link.highlighted {
    stroke-width: 3;
}

.bundle .background {
    fill: #BBDEFB;
    transition: fill 0.2s;
}
.bundle .indicator {
    fill: rgba(0, 0, 0, 0.12);
    pointer-events: none;
}